body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;}
td {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size: 13px;line-height: 150%;}
.t14 {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size: 16px;line-height: 150%;}
.t12 {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size: 12px;line-height: 150%;}

A:link {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:14px;text-decoration:none;color: #1F72D0}
A:visited {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:14px;text-decoration:none;color: #1F72D0}
A:active {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:14px;text-decoration: none;color: #033B7D}
A:hover {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:14px;text-decoration:none;color: #FF5A00}

A.ll:link {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:12px;text-decoration:none;color: #1F72D0}
A.ll:visited {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:12px;text-decoration:none;color: #1F72D0}
A.ll:active {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:12px;text-decoration: none;color: #033B7D}
A.ll:hover {font-family: "н╒хМяе╨з", "свт╡", "╨злЕ";font-size:12px;text-decoration:none;color: #FF5A00}
